/*-- scss:defaults --*/


// fonts
$font-family-sans-serif: Lato, sans-serif !default;

// colors
$body-bg: #ffffff !default;
$body-color: #657b83 !default;
$link-color: #268bd2 !default;
$selection-bg: #d33682 !default;

// headings
$presentation-heading-font: Lato, sans-serif !default;
$presentation-heading-size: 35;
$presentation-heading-color: #0052CC  !default;
//$presentation-heading-text-transform: uppercase !default;

// code blocks
$code-block-border-color: #93a1a1 !default;

/*-- scss:rules --*/

html * {
  color-profile: sRGB;
  rendering-intent: auto;
}

/*-- scss:defaults --*/
